* {
    box-sizing: border-box;
}
body {
    background: #ffffff !important;
    min-height: 100vh;
    display: flex;
    font-weight: 400;

}


.App,
.vue-tempalte,
.vertical-center {
    width: 100%;
    height: 100%;
}
.navbar-light {
    background-color: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}
.vertical-center {
    display: flex;
    text-align: left;
    justify-content: center;
    flex-direction: column;
}
.inner-block{
    margin: auto;

}

.vertical-center .form-control:focus {
    border-color: #2554FF;
    box-shadow: none;

}
.vertical-center h3 {
    text-align: center;
    margin: 0;
    line-height: 1;
    padding-bottom: 20px;
}
label {
    font-weight: 500;
}
.forgot-password,
.forgot-password a {
    text-align: right;
    font-size: 13px;
    padding-top: 10px;
    color: #7a7a7a;
    margin: 0;
}
.forgot-password a {
    color: #2554FF;
}
.social-icons {
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
    font-size: 1.5em;
    color: #222222;
}
.social-icons ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.social-icons ul li {
    display: inline-block;
    zoom: 1;
    width: 65px;
    vertical-align: middle;
    border: 1px solid #e3e8f9;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    margin-right: 5px;
    background: #f4f6ff;
}
.social-icons ul li a {
    display: block;
    font-size: 1.4em;
    margin: 0 5px;
    text-decoration: none;
}
.social-icons ul li a i {
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
.social-icons ul li a:focus i,
.social-icons ul li a:active i {
    transition: none;
    color: #222222;
}
.log {
    width: 450px;
    margin: auto;
    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    padding: 40px 55px 45px 55px;
    border-radius: 15px ;
    transition: all .3s;
    margin-top: 10%;
}
.form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    -webkit-box-sizing: border-box !important;
    border: 1px solid #ced4da !important;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.hm-gradient {
    background-image: linear-gradient(to top, #f3e7e9 0%, #e3eeff 99%, #e3eeff 100%);
}
.navbar .dropdown-menu a:hover {
    color: #616161 !important;
}
.darken-grey-text {
    color: #2E2E2E;
}
.pater > li {
    display: inline-block;
    width: max-content;
    /*** Sólo a efectos de visualización ***/
    background-color:#f1f1f1;
    margin-left: 3%;
    border-radius: 10px;
    padding-right: 2%;
    padding-left: 2%;
    padding-top: .4%;
    padding-bottom: .4%;

}


