<template>
<div>
  <div style="margin: 2%">
    <div class="row">
      <div class="col-7" style="background-color: #00bcd4">
        <h1></h1>
        <p>descripcion</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eos excepturi fugit, illo modi nulla omnis quaerat tempora veniam voluptatibus. Commodi deserunt dolorum eos laudantium reiciendis, suscipit unde veritatis voluptate.</p>
        <p>direccion</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam asperiores deleniti dolorem expedita facere fuga laudantium maiores molestias ut voluptatem? Expedita nam porro sequi vitae? Aliquid esse molestias numquam soluta.</p>
      </div>
      <div class="col-5" style="background-color: #222222">Hola</div>
    </div>
  </div>
</div>
</template>

<script>

export default {
  name: "CasaComponent",
  data(){
    return {

    }

  },
  props:{
  },
  methods:{
  },
  mounted() {

  }
}
</script>

<style scoped>

</style>