<template>
  <div class="vue-tempalte">
    <!-- Navigation -->

    <!-- Main -->
    <div class="App">

        <div class="inner-block">
          <router-view />
        </div>
      </div>
    </div>

</template>